NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_NAME=chalma_portal
DB_USER=root
DB_PASSWORD=
DB_DIALECT=mysql
DB_LOGGING=false

JWT_SECRET=nYJluLCi8h8OXRwzZ96tFpPnaZQ5iipJjs2nGJ0YzXNxAJpqqShWXRoeXHWMKg8B
JWT_EXPIRES_IN=8h
COOKIE_NAME=chalma_admin_sesion



MAX_FILE_SIZE_MB=20
